# ------------------------------/ Python Data Structures \ --------------------------------------

1. List
2. Tuple
3. Set
4. Dictionary

# 1) List

* Written with `[]` braces.
* Indexing is allowed and so the ordering of the data.
* Data is changeable (mutable).
* Duplicates are allowed.

## Create a list

In [1]:
# get the output of commands in a cell with out print
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [31]:
list1=["GREEN","BLACK","YELLOW","WHITE","PURPAL"]
list2=[5,10,15,20,25,30,35,40]

In [6]:
print(list1,list2,sep='\n',end='\n')

['GREEN', 'BLACK', 'YELLOW', 'WHITE', 'PURPAL']
[5, 10, 15, 20, 25, 30, 35, 40]

In [7]:
print(list1,type(list1),list2 ,type(list2),sep='\n\n')

['GREEN', 'BLACK', 'YELLOW', 'WHITE', 'PURPAL']

<class 'list'>

[5, 10, 15, 20, 25, 30, 35, 40]

<class 'list'>

### List Indexing

#### Syntax: 
  list_name[index num]

In [8]:
list1[2]
list1[3]
list1[4]
list1[2:4]
list1[0:4:2]
list1[-1]
list1[::-1]
list1[::-2]
print(list1)

['GREEN', 'BLACK', 'YELLOW', 'WHITE', 'PURPAL']

# List items are changeable/mutable

In [9]:
# we can directly change the list value by using:-
list2[3]=55

In [10]:
print(list2)

[5, 10, 15, 55, 25, 30, 35, 40]

In [11]:
list1[1]

'BLACK'

In [12]:
print(list1[1],type(list1[1]),sep='\n')
print(list1[0:4],type(list1[0:4]),sep='\n')

BLACK
<class 'str'>
['GREEN', 'BLACK', 'YELLOW', 'WHITE']
<class 'list'>

In [13]:
# list can hold data of different types
list3=["voilet","blue","red",34,56,78,True,False]

In [14]:
print(list3[1],type(list3[1]),sep='\n')
print(list3[3],type(list3[3]),sep='\n')
print(list3[7],type(list3[7]),sep='\n')

blue
<class 'str'>
34
<class 'int'>
False
<class 'bool'>

# Nested List ( list inside the list )

In [15]:
list4=[["voilet","blue","red"],[34,56,78],[True,False]]

In [16]:
print(list4[0],type(list4[0]),sep='\n',end='\n')
print(list4[1],type(list4[1]),sep='\n',end='\n')
print(list4[2],type(list4[2]),sep='\n',end='\n')

['voilet', 'blue', 'red']
<class 'list'>
[34, 56, 78]
<class 'list'>
[True, False]
<class 'list'>

In [17]:
print(list4)

[['voilet', 'blue', 'red'], [34, 56, 78], [True, False]]

In [18]:
print(list4[0][2],type(list4[0][2]),sep='\n')
print(list4[1][1],type(list4[1][1]),sep='\n',end='\n')
print(list4[0][1][::-1],type(list4[0][1][::-1]),sep='\n',end='\n')

red
<class 'str'>
56
<class 'int'>
eulb
<class 'str'>

# Duplicate values are allowed

In [19]:
colour=["black", "white", "grey", "silver", "maroon","silver", "maroon"]
print(colour)

['black', 'white', 'grey', 'silver', 'maroon', 'silver', 'maroon']

# List methods

In [20]:
print(dir(list))
# 'append', 'clear', 'copy', 'count', 'extend', 'index', 
# 'insert', 'pop', 'remove', 'reverse', 'sort'

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [21]:
print(list2)

[5, 10, 15, 55, 25, 30, 35, 40]

## Append ()

In [22]:
# If we want to add an object at the end of list we use append function
print(list2.append(45))

None

In [23]:
print('Updated list',list2)

Updated list [5, 10, 15, 55, 25, 30, 35, 40, 45]

## Remove()

In [24]:
# for removing an object from the list
list2.remove('sameer')
print(list2)

ValueError: list.remove(x): x not in list

In [25]:
print(list2)

[5, 10, 15, 55, 25, 30, 35, 40, 45]

In [26]:
# remove is using to remove one value frm list.
# but it remove only one value at a time.
print(list2.remove('r'))

ValueError: list.remove(x): x not in list

In [27]:
print(list2)

[5, 10, 15, 55, 25, 30, 35, 40, 45]

## Sort()

In [28]:
# sort is using to arrange the list in assending order.
print(list2.sort()) # sorting is not possible when your list contains mix of data types

None

In [29]:
list2

[5, 10, 15, 25, 30, 35, 40, 45, 55]

In [22]:
list1

['GREEN', 'BLACK', 'YELLOW', 'WHITE', 'PURPAL']

In [23]:
list1.sort() # by default in ascending order

In [24]:
print(list1)

['BLACK', 'GREEN', 'PURPAL', 'WHITE', 'YELLOW']

In [26]:
list1.sort(reverse=True)# descending order

In [27]:
print(list1)

['YELLOW', 'WHITE', 'PURPAL', 'GREEN', 'BLACK']

## copy()

In [30]:
list5=list2
print(list5)

[5, 10, 15, 25, 30, 35, 40, 45, 55]

In [31]:
print(list5.append(2033))
print(list5)

None
[5, 10, 15, 25, 30, 35, 40, 45, 55, 2033]

In [32]:
print(list2,list5, sep = '\n')

[5, 10, 15, 25, 30, 35, 40, 45, 55, 2033]
[5, 10, 15, 25, 30, 35, 40, 45, 55, 2033]

In [33]:
# both the lists are pointing to the same memory location
print(id(list2),id(list5), sep = '\n')

2355417003136
2355417003136

In [34]:
# letr's use copy()
list5=list2.copy()

In [35]:
print(id(list2),id(list5), sep = '\n')

2355417003136
2355416825920

## Count()

In [36]:
#  function of count is use when want to count an object in list ie: how many times an object is repeting itself  
print(list2.count(5))
print(list2.count(12))
print(list2.count(10))

1
0
1

## Reverse()

In [3]:
# for reversing the list

print(list2.reverse())

None

# extend()

In [38]:
list2.extend('asd')

In [39]:
print(list2)

[2033, 55, 45, 40, 35, 30, 25, 15, 10, 5, 'a', 's', 'd']

In [40]:
list2.extend(True,False,'22-3-2200')

TypeError: list.extend() takes exactly one argument (3 given)

## Index()

In [7]:
list1=["GREEN","BLACK","YELLOW","WHITE","PURPAL",]

In [11]:
print(list1.index('BLACK'))
print(list1.index('PURPAL'))

1
4

## pop()

In [12]:
list1.pop()

'PURPAL'

In [14]:
print(list1)

['GREEN', 'BLACK', 'YELLOW']

In [13]:
list1.pop(3)

'WHITE'

In [15]:
print(list1)

['GREEN', 'BLACK', 'YELLOW']

## remove()

In [16]:
list1.remove('BLACK')

In [17]:
print(list1)

['GREEN', 'YELLOW']

In [18]:
list1.remove('YELLOW')

In [19]:
print(list1)

['GREEN']

## clear()

In [28]:
list1.clear()

In [29]:
print(list1)

[]

## Operators on List
* Operators like + and * on lists work in the similar way of strings.

`+` - Concatenation. `*` - Repetition.

* Membership operator works on list as well with keywords - in and not in.

In [32]:
list1+list2
print(list1+list2)

['GREEN', 'BLACK', 'YELLOW', 'WHITE', 'PURPAL', 5, 10, 15, 20, 25, 30, 35, 40]

In [33]:
# other method of concatenation 
list3=list1+list2
print(list3)

['GREEN', 'BLACK', 'YELLOW', 'WHITE', 'PURPAL', 5, 10, 15, 20, 25, 30, 35, 40]

In [34]:
list1*3
print(list1*3)

['GREEN', 'BLACK', 'YELLOW', 'WHITE', 'PURPAL', 'GREEN', 'BLACK', 'YELLOW', 'WHITE', 'PURPAL', 'GREEN', 'BLACK', 'YELLOW', 'WHITE', 'PURPAL']

In [35]:
'GREEN' in list1

True

In [36]:
30 in list2

True

In [37]:
15 not in list2

False

# Built-in List Functions

## length()

In [56]:
len(list2)

10

In [67]:
list2.

[5, 10, 15, 25, 30, 35, 40, 45, 55, 67]

## max & min

In [69]:
print(max(list2))
print(min(list2))

67
5

# list()

In [41]:
list('PYTHON')# converts an iterable into a list object

['P', 'Y', 'T', 'H', 'O', 'N']

# Operators on List

## help() in Python

In [1]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [2]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

In [3]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

# Tuple

* Written with () braces.
* Indexing is allowed.
* Data is unchangeable (immutable).
* Duplicates are allowed.

### Create a tuple

In [42]:
# A tuple can be created in two ways

# approach 1
tup1=('banana','pineapple','blackberry','mango','apple',)

## approach 2
tup2=(34,56,23,98,78,98,34,56) # Duplicates are allowed

In [43]:
print(tup1, tup2, sep='\n')

('banana', 'pineapple', 'blackberry', 'mango', 'apple')
(34, 56, 23, 98, 78, 98, 34, 56)

In [44]:
print(type(tup1),type( tup2), sep='\n')

<class 'tuple'>
<class 'tuple'>

## Tuple Indexing

In [50]:
print(tup1[1])
print(tup1[4])

pineapple
apple

## Changing tuple items

In [51]:
print(tup1)

('banana', 'pineapple', 'blackberry', 'mango', 'apple')

In [53]:
tup1[2]='graps'# Tuples are immutable

TypeError: 'tuple' object does not support item assignment

## Tuple methods

In [54]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [56]:
# 'count', 'index'

print(tup1.count('apple'))

print(tup1.index('apple'))

1
4

## Operators on Tuple
* Operators like + and * on tuple work in the similar way of strings.

`+` - Concatenation. `*` - Repetition.

* Membership operator works on tuple as well with keywords - `in` and `not in`.

In [57]:
tup1+tup2
print(tup1+tup2)

('banana', 'pineapple', 'blackberry', 'mango', 'apple', 34, 56, 23, 98, 78, 98, 34, 56)

In [58]:
print(tup1*3)

('banana', 'pineapple', 'blackberry', 'mango', 'apple', 'banana', 'pineapple', 'blackberry', 'mango', 'apple', 'banana', 'pineapple', 'blackberry', 'mango', 'apple')

In [59]:
'banana' in tup1

True

In [60]:
'graps' in tup1

False

In [61]:
56 in tup2

True

## Built-in Tuple functions

In [62]:
len(tup1)

5

In [64]:
print(max(tup1))

print(min(tup2))

pineapple
23

# tuple()

In [65]:
tuple('PYTHON')

('P', 'Y', 'T', 'H', 'O', 'N')

In [66]:
print(tuple(list1)) # list to tuple

('GREEN', 'BLACK', 'YELLOW', 'WHITE', 'PURPAL')

In [68]:
print(list(tup2)) # tuple into list

[34, 56, 23, 98, 78, 98, 34, 56]

In [69]:
# add a new element to the tuple

tup2.append(225)

AttributeError: 'tuple' object has no attribute 'append'

# Create Tuple With One Item

In [1]:
# create a list with one item
mylist1 = ['python']

In [3]:
print(mylist1,len(mylist1),sep='\n')

['python']
1

In [5]:
tup1=('python')
print(tup1,type(tup1),sep='\n')

python
<class 'str'>

In [6]:
mytup1 = ('python',)
print(mytup1, type(mytup1), sep='\n')

mytup2 = (5)
print(mytup2, type(mytup2), sep='\n')

mytup2 = (5,)
print(mytup2, type(mytup2), sep='\n')

('python',)
<class 'tuple'>
5
<class 'int'>
(5,)
<class 'tuple'>


# set{}

* Written `with` {} braces.
* Unindexed.
* Data is unchangeable (immutable). But we can add/remove data.
* Duplicates are not allowed.

## Create a Set

In [7]:
set1={'green','black','white','yellow','voilet'}

In [9]:
# check the type of set
print(set1,type(set1),sep='\n')

{'white', 'voilet', 'black', 'green', 'yellow'}
<class 'set'>

## Indexing a Set

In [11]:
set1[3]

TypeError: 'set' object is not subscriptable

## Changing the set items

In [12]:
# Set is immutable

set1[2] = 'BLACK'

TypeError: 'set' object does not support item assignment

### Remove Duplicates from a list

In [13]:
u= ["black", "white", "grey", "silver", "maroon", 'white', 'black']
print(u)

['black', 'white', 'grey', 'silver', 'maroon', 'white', 'black']

In [15]:
u= list(set(u))
print(u)

['white', 'grey', 'silver', 'maroon', 'black']

### Set methods

In [16]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [17]:
# add
# copy
# difference
# discard
# intersection
# isdisjoint
# issubset
# issuperset
# pop
# union
# update

set1 = {"black", "white", "gray", "silver", "maroon"}
set2 =  {"red", "purple", "fushsia", "green", "lime"}